ion-content {
    --ion-background-color: rgb(59, 135, 125);    
  } 

  ion-list {
    --ion-background-color: white;
    width: 95%;
    margin: 15px auto;
    font-weight: normal;
    border-radius: 10px;
    --border-radius: 10px;  
  }

  ion-item, ion-card {
    --ion-background-color: white;
    width: 95%;
    margin: 15px auto;
    font-weight: normal;
    border-radius: 10px;
    --border-radius: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  #category {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --background: white;
  }

  ion-searchbar {
    --background: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  ion-icon {
    color: #000;
  } 

  ion-button {
    --background: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  ion-title {
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }