<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Timer</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logOut()">
        <ion-icon size="large" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
  <svg
  id="progress-circle"
  width="50vh"
  height="50vh"
  viewBox="0 0 200 200"
  >
  <circle
    cx="50%"
    cy="50%"
    [attr.r]="circleR"
    stroke="#fff"
    stroke-width="12"/>
    <text x="50%" y="55%" class="timer-text"> {{ time | async }} </text>
  </svg>

  </ion-row>
</ion-content>
<ion-footer> 
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button *ngIf="state === 'stop' || state === 'change' || state === 'reset'" expand="block" color="primary" (click)="startTimer(this.startDuration)"> START </ion-button>
        <ion-button *ngIf="state === 'start'" expand="block" color="danger" (click)="stopTimer()"> STOP </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="secondary" (click)="resetTimer(this.startDuration)" class="font">RESET</ion-button>
      </ion-col>
    </ion-row>
    <ion-button expand="block" color="light" (click)="openPicker()" class="font">CHANGE</ion-button>
  </ion-grid>
</ion-footer>