ion-title {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #632626;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-icon {
  color: #000;
}

ion-content, ion-footer {
  --ion-background-color: rgb(59, 135, 125);
  background-color: rgb(59, 135, 125);;
} 

.timer-text {
  transform: rotate(90deg);
  transform-origin: center;
  font-size: 36px;
  text-anchor: middle;
  font-weight: 600;
  fill: rgb(59, 135, 125);
}

#progress-circle {
  margin-top: 50px;
  transform: rotate(-90deg); 
}